{% extends 'user_accounts/base.html' %}
 {% block content %}
<div class="container">
  <br>
<div class="row" style="margin-left: -15px;margin-right: -15px;">
  <br><br>
  <div class="container" style="max-width: 380px;">
      <h1 style="font-family: "Ubuntu">Login here :</h1>
      <br>
      <form method="post" >
         {% csrf_token %}
       <div class="form-group" style="margin-bottom: 0px;">
          <label for="username" style="font-family: 'Nunito Sans';font-weight: bold;">Username:</label><br>
          <input type="text" name="username" placeholder="Username" id="username" class="form-control">
      </div>
      <div class="form-group" style="margin-top: 0px;"><br>
      <label for="password" style="font-family: 'Nunito Sans';font-weight: bold;">Password:</label><br>
          <input type="password" name="password" placeholder="Password" id="password" class="form-control">
      </div>
      <div class="form-check">
      <label class="form-check-label" for="radio1" style="font-family: 'Nunito Sans';font-weight: bold;">
        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>
        Individual
      </label>
    </div><br>
<!-- <input type="submit" name="" value="Login" class="btn btn-primary btn-lg"> -->
<div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted ml-2">
                    <div class="nieclink">
                        <a href="{% url 'password_reset' %}">Forgot Password?</a>
                    </div>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
</form>
</div>
</div>
</div>
{% endblock %}